nav {
  background-image: linear-gradient(
      var(--secondary-background-color),
     black,
      var(--secondary-background-color)
    );
}

nav .navbar-brand {
  cursor: pointer;
}

nav .navbar-brand .title{
  font-weight: bold;
  background: -webkit-linear-gradient(
      var(--secondary-text-color),
      var(--primary-text-color),
      var(--secondary-text-color)

    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .navbar-brand svg {
  fill: var(--third-text-color);
}

.container-fluid {
  padding-top: 5px;
}


#currency-code-select {
  margin-top: 2px;

  font-weight: bold;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid transparent;
}

#currency-code-select :hover {
  border: 1px solid var(--secondary-border-color);
}

#currency-code-select option {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}


#currency-code-select option:checked {
  color: var(--third-text-color);
}
