nav {
  background-image: linear-gradient(
      var(--secondary-background-color),
     black,
      var(--secondary-background-color)
    );
}

nav .navbar-brand .title{
  font-weight: bold;
  background: -webkit-linear-gradient(
      var(--secondary-text-color),
      var(--primary-text-color),
      var(--secondary-text-color)

    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .navbar-brand svg {
  fill: var(--third-text-color);
}

.container-fluid {
  padding-top: 5px;
  background-color: var(--primary-background-color);
}

.credits-left {
  font-size: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 0 8px;
  border-left: 1px solid var(--primary-border-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 400px) {
  .credits-left {
    display: none;
  }
}
