#popover-button {
  margin: -8px 0;
}

#popover-button:hover {
  fill: var(--secondary-border-color);
}

#popover-button:active {
  fill: var(--third-border-color);
}

.popover {
  color: var(--primary-text-color) !important;
  border: 1px solid var(--primary-border-color);
}

.popover-header {
  background-color: var(--primary-background-color);
}

.popover-body {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color) !important;
}
